<h1 class="title title--main">Articles</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="media-items">
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>

<%= link_to 'New article', new_article_path, :class=>'btn' %>
