<h1 class="title title--main">Articles</h1>

<div class="media-items">
  <% @articles.each do |article| %>
    <div class="media-item">
      <%= link_to article.title, article_path(article), :class=>'media-item__title' %>
      <div class="media-item__content"><%= article.text %></div>
      <%= link_to 'Edit', edit_article_path(article), :class=>'media-item__action' %>
    </div>
  <% end %>
</div>

<%= link_to 'New article', new_article_path, :class=>'btn offset-top' %>
