<article class="article">
  <h1 class="title title--main article__title">
    <%= @article.title %>
  </h1>

  <div class="article__content">
    <div class="article__introduction">
      <%= @article.introduction %>
    </div>

    <%= markdown(@article.text) %>
  </div>

</article>
