.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 120px 0;
}

.footer__copyright {
  color: $lightgray;
  font-size: 14px;
  font-style: italic;
}

.footer__link {
  @extend .navigation__item;
  margin-left: 30px;
  margin-right: 0;
}
