* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: darken($blue, 20%);
  }
}

body {
  padding: 0 20px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 18px;
  color: #252525;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 60px 0 30px;
  font-weight: 300;
  color: $red;
  line-height: 1.5em;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

.offset-top {
  margin-top: 60px;
}

.content {
  max-width: 768px;
  margin: 60px auto;
}
