* {
  box-sizing: border-box;
}

a {
  color: #2f99da;
  text-decoration: none;

  &:hover {
    color: darken(#2f99da, 20%);
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 60px 0 30px;
  font-weight: 300;
  color: #da393f;
  line-height: 1.5em;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

.offset-top {
  margin-top: 60px;
}

.content {
  padding: 30px;
  margin-top: 60px;
}
