.header {

}

.header__logo {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  line-height: 1em;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 60px;

  img {
    max-height: 80px;
    width: auto;
  }
}
