.media-items {
  width: 100%;
}

.media-item {
  width: 100%;
  margin-bottom: 10px;
}

.media-item__title {
  width: 100%;
  color: #2f99da;
  text-decoration: none;
  font-weight: 600;
  display: block;
  padding-left: 20px;
  position: relative;

  &::before {
    display: block;
    content: '#';
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 300;
    color: #97ccec;
  }
}

.media-item__content {
  padding-right: 30px;
}

.media-item__action {
  margin-top: 10px;
}

.media-item__action-link {
  color: #2f99da;
  text-decoration: none;
  display: block;
  padding-left: 50px;
  position: relative;

  &::before {
    display: block;
    content: '#';
    position: absolute;
    left: 30px;
    top: 0;
    font-weight: 300;
    color: #97ccec;
  }
}
