.media-items {
  width: 100%;
  margin-bottom: 60px;
}

.media-item {
  width: 100%;
  border-bottom: 2px solid #efefef;
  padding: 20px 0;
}

.media-item__title {
  width: 100%;
  color: #2f99da;
  text-decoration: none;
  font-weight: 300;
  padding-left: 20px;
  position: relative;
  display: block;

  &::before {
    display: block;
    content: '#';
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 300;
    color: #97ccec;
  }
}

.media-item__content {
  padding-right: 30px;
}

.media-item__action {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.media-item__action-link {
  font-style: italic;
  color: #727272;
  font-size: 16px;
  text-decoration: none;
  margin-left: 20px;
  position: relative;
  width: auto;
}
