.navigation {
  margin: 0 40px;
  padding: 40px 0;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
}

.navigation__item {
  display: block;
  text-decoration: none;
  color: #979797;
}
