<% if @website.images? %>
  <div class="article__images">
    <% @website.images.each do |image| %>
      <%= image_tag(image.url, class: 'article__image') %>
    <% end %>
  </div>
<% end %>

<h1 class="title title--main page-title"><%= @website.title %></h1>

<div class="article__content">
  <%= markdown(@website.content) %>
</div>
